:root {
	--fwbold: 900;
	--fwlight: 400;
	--fwthin: 200;

	--secondary: #FFFFFF;
	--primary: #1E1A1A;

	--fsbig: 2em;
	--fsnormal: 1em;
	--fssub: .7em;
  }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, li, a {
	list-style: none;
	text-decoration: none;
}

body {
	/* background-color: var(--secondary); */
	margin: 20px;
	color: var(--primary);
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.banner {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-content: center;
	width: 100%;
	height: auto;
}

.logo {
	position: relative;
}

.logo img {
	font-size: var(--fssub);
	color: var(--secondary);
	width: 50px;
	height: 50px;
	/* border-radius: 10px; */
	/* background-color: var(--primary); */
	text-align: center;
	display: grid;
	place-items: center;
}
.sci {
	position: relative;
	align-self: flex-end;
	left: -40px;
}
.sci__list-item {
	display: inline-block;
}
.sci img {
	width: 24px;
	height: 24px;
}

.main__container {
	position: relative;
	height: 100vh;
}

.container1 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	line-height: 1.6em;
}

.container1 h1 {
	text-transform: uppercase;
	margin-top: -15px;
}

.container1 p {
	font-size: var(--fsbig);
	font-weight: var(--fwthin);
}

.container1-item img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid white;
	background: white;
}

.sub__container {
	height: 100vh;
	padding-top: 70px;
}

.title {
	font-weight: var(--fwbold);
	font-size: var(--fsbig);
}

.container2 h2 {
	font-style: italic;
	font-size: var(--fsnormal);
	font-weight: var(--fwthin);
	padding: 10px 0;
}

.container2 h2 .subtitle {
	border-bottom: 1px solid #fff;
}

.container2 p {
	text-align: justify;
	font-size: var(--fsnormal);
}

.container2 p::first-letter {
	margin-left: 20px;
}

.container3__heading {
	padding-bottom: 20px;
}

.container3--list {
	line-height: 1.5em;
}

.container3 a {
	color: var(--primary);
}

.container3 a:hover {
	padding-left: 20px;
	transition: all 400ms ease;
}

.container3--item {
	font-weight: var(--fwbold);
	font-size: 3em;
}

.container3--subitem {
	font-weight: var(--fsnormal);
	font-size: 1.5em;
}


.container4__link {
	border: 2px solid var(--primary);
	height: 100px;
	width: auto;
	margin: 5px 0 0;
	display: grid;
	place-items: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: var(--fwbold);
	font-size: var(--fsnormal);
	color: var(--primary);
	cursor: pointer;
	line-height: 1px;
}

.container4__link:hover {
	color: var(--secondary);
	background-color: var(--primary);
}

.container5 {
	width: 80%;
}
.container5__heading {
	margin-bottom: 10px;
}
.container5__row {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.container5__col {
	position: relative;
	width: 100%;
	padding: 0 10px;
	margin: 30px 0 10px;
	transition: 0.5s;
}
.container5__inputbox {
	position: relative;
	width: 100%;
	height: 40px;
	color: var(--primary);
}
.container5__inputbox input,
.container5__inputbox textarea {
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	box-shadow: none;
	outline: none;
	border: none;
	font-size: 18px;
	padding: 0 10px;
	z-index: 1;
}
.container5__inputbox .text {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 40px;
	font-size: 18px;
	padding: 0 10px;
	display: block;
	transition: 0.5s;
	pointer-events: none;
}
.container5__inputbox input:focus + .text,
.container5__inputbox input:valid + .text {
	top: -35px;
	left: -10px;
}
.container5 .line {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 2px;
	background: var(--secondary);
	transition: 0.5s;
	border-radius: 2px;
	pointer-events: none;
	border-bottom: 1px solid var(--primary);
}
.container5__inputbox input:focus ~ .line,
.container5__inputbox input:valid ~ .line {
	height: 100%;
}
.container5__inputbox.textarea {
	position: relative;
	width: 100%;
	height: 100px;
	padding: 10px 0;
}
.container5__inputbox.textarea textarea {
	height: 100%;
	resize: none;
}
.container5__inputbox textarea:focus + .text,
.container5__inputbox textarea:valid + .text {
	top: -35px;
	left: -10px;
}
.container5__inputbox textarea:focus ~ .line,
.container5__inputbox textarea:valid ~ .line {
	height: 100%;
}
input[type="submit"] {
	border: none;
	padding: 7px; 35px;
	cursor: pointer;
	outline: none;
	background: var(--primary);
	color: var(--secondary);
	font-size: 18px;
	border-radius: 2px;
}
/* Navigation */
.bg-cover {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 2;
	transition: all 350ms ease;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.reveal {
	opacity: .85;
	display: block;
	pointer-events: auto;
	visibility: visible;
}

.hamburger-shell {
	margin: 0;
	position: fixed;
	overflow: hidden;
	width: 50px;
	height: 100px;
	overflow: auto;
	left: calc(100% - 70px);
	bottom: 0;
	cursor: pointer;
}

.top, .middle{
	position: absolute;
	width: 55px;
	height: 10px;
	background-color: var(--primary);
	transition: all 350ms ease-in-out;
	top: 20px;
}

.middle {
	top: 40px;
}

#menu {
	position: fixed;
	left: calc(100% - 230px);
	bottom: 10px;
	color: var(--primary);
	display: none;
	margin: 120px 30px;
	text-decoration: none;
	font-family: 'Poppins', Arial, sans-serif;
	font-weight: 100;
	font-size: 20px;
	text-transform: uppercase;
	color: var(--primary);
	padding: 24px;
	width: 200px;
	text-align: right;
	z-index: 3;
}

#menu a li {
	text-decoration: none!important;
	padding-bottom: 10px;
	margin-bottom: 12px;
	border-bottom: 1px solid black;
	list-style: none;
	color: #555;
	transition: all 150ms ease;
}

#menu a li:hover {
	color: #00abff;
	padding-right: 3px;
}

#menu a {
	text-decoration: none;
}

.rotate {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	top: 30px;
	background-color: red;
	height: 2px;
}

.rotate-back {
	transform: rotate(-225deg);
	-webkit-transform: rotate(-225deg);
	top: 30px;
	background-color: red;
	height: 2px;
}

.top {
-webkit-animation-delay: 100ms;
}

.middle {
-webkit-animation-delay: 250ms;
}

.bottom {
	-webkit-animation-delay: 400ms;
}

.menu-name {
	font-family: 'Poppins';
	font-weight: 900;
	color: var(--primary);
	font-size: 16.5px;
	text-decoration: none;
	position: absolute;
	top: 56px;
	left: -1px;
	transition: all 350ms;
	overflow: hidden;
}

.bump {
	top: 64px;
	color: red;
}

@media (min-width: 400px) {
	.container1 {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-content: center;
		align-items: center;
	}

	.sci {
		z-index: 3;
		position: relative;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
	}
	.sci__list {
		
	}
}

/* @media (min-width: 700px) {
	body {
		background: red;
	}
} */