*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
	padding: 0;

}

:root {
    --primary : #9466FF;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	/* background: linear-gradient(315deg, rgba(0,0,0,1) 0%, rgba(168,78,251,1) 35%, rgba(255,255,255,1) 100%);  */
}

.main__container {
    height: 100vh;
    background: #fff;
    background: url(images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main__container:after {
    content: "";
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(168,78,251,1) 35%, rgba(255,255,255,1) 100%); 
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
	z-index: 1;
	height: auto;
}
.main__logo img {
    height: 50px;
	width: 50px;
	position: fixed;
	margin: 50px;
}
.main__header img {
	display: none;
}
.main__header {
    line-height: 3.5rem;
}
.main__header h1 {
    font-size: 6rem;
    font-weight: 700;
}
.main__header p {
    font-size: 3rem;
    font-weight: 400;
}
.main__sci {
	z-index: 2;
	position: fixed;
	bottom: 50px;
}
.main__sci li{
    display: inline-block;
}
.main__sci li a {
    cursor: pointer;
    z-index: 10;
}
.main__sci img {
    height: 40px;
    width: 40px;
}
.header {
	font-size: 5rem;
}
.container {
	width: auto;
	height: 100vh;
	padding: 100px;
	text-align: center;
}
/* About Me */

.container__aboutme {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: auto;
	width: 100%;
	place-items: center;
}
.aboutme__text {
	height: 100%;
	width: 400px;
	text-align: left;
}
.aboutme__box h2 {
	padding: 10px 0;
}
.aboutme__box p {
	text-align: justify;
	line-height: 30px;
	font-size: 16px;
}
.aboutme__box p::first-letter {
	padding-left: 20px;
}
.aboutme__box img {
	position: relative;
	width: 400px;
	height: 100%;
}

/* My Skills */ 
.container__myskills {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.myskills__header {
	padding-bottom: 70px;
}
.myskills__box {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
}
.box__container h2 {
	text-align: center;
	color: var(--primary);
}
.myskills__chart {
	display: inline-block;
	position: relative;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	text-align: center;
	font-size: 2rem;
	line-height: 150px;
}
.myskills__box #text {
	position: relative;
}
.myskills__box canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.myskills__sub {
	padding: 50px;
}
.myskills__sub h2 {
	font-size: 1.5rem;
	font-weight: 400;
}
.myskills__text  {
	font-weight: 700;
	font-size: 3rem;
}

/* my projects */


/* contact me */

.contact__heading {
	margin-bottom: 10px;
}
.contact_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}
.contact__box {
	width: 100%;
	height: 600px;
}
.contact__row {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
	width: 100%;
	background: #333;
}
.contact__col {
	position: relative;
	width: 100%;
	padding: 0 10px;
	margin: 30px 0 10px;
	transition: 0.5s;
}
.contact__inputbox {
	position: relative;
	width: 100%;
	height: 40px;
	color: white;
	text-align: left;
}
.contact__inputbox input,
.contact__inputbox textarea {
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	box-shadow: none;
	outline: none;
	border: none;
	font-size: 18px;
	padding: 0 10px;
	z-index: 1;
}
.contact__inputbox .text {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 40px;
	font-size: 18px;
	padding: 0 10px;
	display: block;
	transition: 0.5s;
	pointer-events: none;
}
.contact__inputbox input:focus + .text,
.contact__inputbox input:valid + .text {
	top: -35px;
	left: -10px;
}
.contact__row .line {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 2px;
	background: white;
	transition: 0.5s;
	border-radius: 2px;
	pointer-events: none;
	border-bottom: 1px solid var(--primary);
}
.contact__inputbox input:focus ~ .line,
.contact__inputbox input:valid ~ .line {
	height: 100%;
}
.contact__inputbox.textarea {
	position: relative;
	width: 100%;
	height: 100px;
	padding: 10px 0;
}
.contact__inputbox.textarea textarea {
	height: 100%;
	resize: none;
}
.contact__inputbox textarea:focus + .text,
.contact__inputbox textarea:valid + .text {
	top: -35px;
	left: -10px;
}
.contact__inputbox textarea:focus ~ .line,
.contact__inputbox textarea:valid ~ .line {
	height: 100%;
}
input[type="submit"] {
	border: none;
	padding: 7px 35px;
	cursor: pointer;
	outline: none;
	background: var(--primary);
	color: var(--secondary);
	font-size: 18px;
	border-radius: 2px;
}

.bg-cover {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	transition: all 350ms ease;
	opacity: 0;
	visibility: hidden;
    pointer-events: none;
    z-index: 3;
}

.reveal {
	opacity: .85;
	display: block;
	pointer-events: auto;
	visibility: visible;
}

.hamburger-shell {
	margin: 30px 0;
	position: fixed;
	overflow: hidden;
	width: 55px;
	height: 100px;
	overflow: auto;
	left: calc(100% - 90px);
	top: 0;
    cursor: pointer;
	z-index: 4;
}

.top, .middle{
	position: absolute;
	width: 55px;
	height: 10px;
	background-color: var(--primary);
	transition: all 350ms ease-in-out;
	top: 20px;
}

.middle {
	top: 35px;
}

#menu {
	position: fixed;
	left: calc(100% - 230px);
	top: 10px;
	color: var(--primary);
	display: none;
	margin: 100px 20px;
	text-decoration: none;
	font-weight: 100;
	font-size: 20px;
	text-transform: uppercase;
	color: var(--primary);
	padding: 20px;
	width: 200px;
	text-align: right;
    overflow: hidden;
    z-index: 5;
}

#menu a li {
	text-decoration: none!important;
	padding-bottom: 10px;
	margin-bottom: 12px;
	border-bottom: 1px solid black;
	list-style: none;
	color: #555;
    transition: all 150ms ease;
	z-index: 6;
}

#menu a li:hover {
	color: var(--primary);
	padding-right: 3px;
	z-index: 150;
}

#menu a {
	text-decoration: none;
}

.rotate {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	top: 30px;
	background-color: red;
	height: 2px;
	z-index: 30;
}

.rotate-back {
	transform: rotate(-225deg);
	-webkit-transform: rotate(-225deg);
	top: 30px;
	background-color: red;
	height: 2px;
	z-index: 30;
}

.top {
-webkit-animation-delay: 100ms;
}

.middle {
-webkit-animation-delay: 250ms;
}

.bottom {
	-webkit-animation-delay: 400ms;
}

.menu-name {
	font-weight: 700;
	color: var(--primary);
	font-size: 16px;
	text-decoration: none;
	position: absolute;
	top: 56px;
	left: -1px;
	transition: all 350ms;
    overflow: hidden;
    width: auto;
}

.bump {
	top: 64px;
	color: white;
	z-index: inherit;3
}

@media (max-width: 700px) {
	body {
		padding: 20px;
	}
	.main__container {
		padding: 0px;
		background: #fff;
		height: 200px;
		text-align: center;
		margin: 0 auto;
	}
	.main__container:after {
		display: none;
	}
	.main__logo img {
		height: 40px;
		width: 40px;
		margin: 0px;
		z-index: 2;
	}
	.main__header {
		line-height: 30px;
	}
	.main__header h1{
		font-size: 45px;
		margin-top: 50px;
	}
	.main__header p {
		font-size: 30px;
		text-align: center;
	}
	.header {
		font-size: 2rem;
		text-align: center;
		margin-top: 40px;
	}
	.container {
		width: auto;
		height: auto;
		padding: 20px;
		text-align: center;
	}
	.container__aboutme {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.aboutme__header {
		margin-top: 20px;
	}
	.aboutme__text {
		width: auto;
	}
	.aboutme__box:nth-of-type(1) {
		order: 2;
		margin-top: 20px;
	}
	/* My Skills */
	.myskills__header {
		padding-bottom: 20px;
	}
	.myskills__box {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.myskills__chart {
		width: 200;
		height: auto;
	}
	.myskills__sub {
		padding: 20px;
	}
	.myskills__sub h2 {
		font-size: 16px;
	}
	.myskills__text {
		font-size: 32px;
	}
	/* Contact */
	.contact__box {
		height: 400px;
	}
	.main__sci {
		position: fixed;
		top: 0;
		right: 0;
		padding: 20px 20px 0 0;
	}
	/* Navi */ 
	.hamburger-shell {
		margin: 0px;
	}
	.rotate, .rotate-back {
		top: 40px;
	}
	#menu {
		margin: 60px 20px;
	}
}	