*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background: linear-gradient(150deg, #8a2be2 15%, #bb98ff 70%, #ffffff 94%);
    --first: #8a2be2;
    --second: #802ad1;
    --third: #4a1e9e;
    --fourth: #bb98ff;
    --fifth: #ddcbff;
    --primary : #9466FF
    ;
    --fwbold: 700;
    --fwnorm: 400;
    --fwlight: 300;
}

#stripes span:nth-child(1) {
    grid-column: span 1;
    background: var(--first);
}
#stripes span:nth-child(2) {
    grid-column: span 2;
    background: var(--second);
}
#stripes span:nth-child(3) {
    grid-column: span 2;
    background: var(--third);
}
#stripes span:nth-child(4) {
    grid-column: 6;
    grid-row: 3;
    background: var(--fifth);
}
  #stripes span:nth-child(5) {
    grid-column: span 2;
    grid-row: 4;
    background: var(--fourth);
}
#stripes {
    position: absolute;
    margin-top: 100px;
    width: 100%;
    height: 40vw;
    background: var(--background);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    transform: skewY(-18deg);
    transform-origin: 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    z-index: -1;
}

body {
    font-family: 'Poppins';
}
/* header */
.main__container {
  height: 100vh;
}
.header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 2% 2%;
    z-index: 3;
}
.header__logo img {
    height: 50px;
    width: 50px;
}
.header__sci {
    margin-right: 5%;
}
.header__links {
    margin-left: 5px;
}
.header__sci img {
    height: 25px;
    width: 25px;
}
.header__logo svg {
    padding: 5%;
}
.banner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.banner__head {
    font-size: 30px;
    font-weight: var(--fwbold);
    line-height: 35px;
}

.banner__sub {
    font-size: 1.3em;
    font-weight: var(--fwlight);
}
.banner__cta {
    margin-top: 12px;
}
.banner__cta a{
    background: var(--primary);
    padding: 1em;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: .8em;
    font-weight: var(--fwbold);
}

.scroll__icon a span {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 30px;
    height: 45px;
    margin-left: -15px;
    border: 2px solid var(--primary);
    border-radius: 50px;
    box-sizing: border-box;
  }
.scroll__icon a span::before {
    position: absolute;
    bottom: 25px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--primary);
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

.container {
  padding: 0 4% 0 4%;
  height: auto;
}
.title {
  font-weight: 700;
  font-size: 3em;
}
.aboutme__title {
  font-weight: 400;
  text-align: center;
}
.aboutme__text {
  font-weight: 300;
}
.aboutme__text p {
  padding: 15px 0;
  text-align: justify;
}
.aboutme__text p::first-letter {
  margin-left: 15px;
}