:root {
	--fwbold: 900;
	--fwlight: 400;
	--fwthin: 200;

	--primary: #FFFFFF;
	--secondary: #1E1A1A;

	--fsbig: 2em;
	--fsnormal: 1em;
	--fssub: .7em;
  }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, li, a {
	list-style: none;
	text-decoration: none;
}

body {
	background-color: var(--secondary);
	margin: 20px;
	color: var(--primary);
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.banner {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-content: center;
	width: 100%;
	height: auto;
}

.logo {
	position: relative;
}

.logo h1 {
	font-size: var(--fssub);
	color: var(--secondary);
	width: 30px;
	height: 30px;
	border-radius: 10px;
	background-color: var(--primary);
	text-align: center;
	display: grid;
	place-items: center;
}
.sci {
	position: relative;
	align-self: flex-end;
	left: -40px;
}
.sci__list-item {
	display: inline-block;
}
.sci img {
	width: 24px;
	height: 24px;
}

.main__container {
	position: relative;
	height: 100vh;
}

.container1 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	line-height: 1.6em;
}

.container1 h1 {
	text-transform: uppercase;
	margin-top: -15px;
}

.container1 p {
	font-size: var(--fsbig);
	font-weight: var(--fwthin);
}

.container1-item img {
	height: 150px;
	width: 150px;
}

.sub__container {
	height: 100vh;
	padding-top: 70px;
}

.title {
	font-weight: var(--fwbold);
	font-size: var(--fsbig);
}

.container2 h2 {
	font-style: italic;
	font-size: var(--fsnormal);
	font-weight: var(--fwthin);
	padding: 10px 0;
}

.container2 h2 .subtitle {
	border-bottom: 1px solid #fff;
}

.container2 p {
	text-align: justify;
	font-size: var(--fsnormal);
}

.container2 p::first-letter {
	margin-left: 20px;
}

.container3__heading {
	padding-bottom: 20px;
}

.container3--list {
	line-height: 1.5em;
}

.container3 a {
	color: var(--primary);
}

.container3 a:hover {
	padding-left: 20px;
	transition: all 400ms ease;
}

.container3--item {
	font-weight: var(--fwbold);
	font-size: 3em;
}

.container3--subitem {
	font-weight: var(--fsnormal);
	font-size: 1.5em;
}


.container4__link {
	border: 2px solid var(--primary);
	height: 100px;
	width: auto;
	margin: 5px 0 0;
	display: grid;
	place-items: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: var(--fwbold);
	font-size: var(--fsnormal);
	color: var(--primary);
	cursor: pointer;
	line-height: 1px;
}

.container4__link:hover {
	color: var(--secondary);
	background-color: var(--primary);
}

.container5__main {
	display: grid;
	grid-template-columns: 100px auto;
	grid-gap: 20px;
}

.container5__input {
	padding-bottom: 20px;
}


.container5__input:nth-child(6) {
	height: 100px;
	line-height: 28px;
}


/* Navigation */
.bg-cover {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 0;
	transition: all 350ms ease;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.reveal {
	opacity: .85;
	display: block;
	pointer-events: auto;
	visibility: visible;
}

.hamburger-shell {
	margin: 0;
	position: fixed;
	overflow: hidden;
	width: 50px;
	height: 100px;
	overflow: auto;
	left: calc(100% - 70px);
	bottom: 0;
	cursor: pointer;
}

.top, .middle{
	position: absolute;
	width: 55px;
	height: 10px;
	background-color: var(--primary);
	transition: all 350ms ease-in-out;
	top: 20px;
}

.middle {
	top: 40px;
}

#menu {
	position: fixed;
	left: calc(100% - 230px);
	bottom: 10px;
	color: var(--primary);
	display: none;
	margin: 120px 30px;
	text-decoration: none;
	font-family: 'Poppins', Arial, sans-serif;
	font-weight: 100;
	font-size: 20px;
	text-transform: uppercase;
	color: var(--primary);
	padding: 24px;
	width: 200px;
	text-align: right;
}

#menu a li {
	text-decoration: none!important;
	padding-bottom: 10px;
	margin-bottom: 12px;
	border-bottom: 1px solid black;
	list-style: none;
	color: #555;
	transition: all 150ms ease;
}

#menu a li:hover {
	color: #00abff;
	padding-right: 3px;
}

#menu a {
	text-decoration: none;
}

.rotate {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	top: 30px;
	background-color: red;
	height: 2px;
}

.rotate-back {
	transform: rotate(-225deg);
	-webkit-transform: rotate(-225deg);
	top: 30px;
	background-color: red;
	height: 2px;
}

.top {
-webkit-animation-delay: 100ms;
}

.middle {
-webkit-animation-delay: 250ms;
}

.bottom {
	-webkit-animation-delay: 400ms;
}

.menu-name {
	font-family: 'Poppins';
	font-weight: 900;
	color: var(--primary);
	font-size: 16.5px;
	text-decoration: none;
	position: absolute;
	top: 56px;
	left: -1px;
	transition: all 350ms;
}

.bump {
	top: 64px;
	color: red;
}